@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
/*NAV-A*/
a{
    text-decoration: none;
}
.nav_a{
    background: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
}
.nav_a_links{
    display: flex;
    align-items: center;
}
.explore{ 
    margin-right:13px;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.sign_up{
    margin-right:13px;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.log_in{
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}
.log_in:hover{
   background-color: black;
   color: white;
   transition: all 0.3s linear
}
.nav_a_logo{
    object-fit: contain;
    height: 30px;
    width: 40px;
    cursor: pointer;
}

/*NAV-B*/
.nav_b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    cursor: pointer;
}
.nav_b_logo{
    object-fit: contain;
    height: 60px;
    width: 85px;
    margin-right: 5rem;
}
.nav_b_links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new{
    color: black;
    margin-right:17px;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}
.new:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear
 }
.men{
    color: black;
    margin-right:17px;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}
.men:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear
 }
.women{
    color: black;
    margin-right:17px;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}
.women:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear
 }
.kids{
    color: black;
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
}
.kids:hover{
    background-color: black;
    color: white;
    transition: all 0.3s linear
 }
.search{
    display: flex;
    align-items: center;
}
.header_search{
    margin-right: 27px;
    background: #E5E5E5;
    border-radius: 40px;
    padding: 7px;
    height: 40px;
}
.header_searchIcon{
    width: 40px !important;
    height: 40px !important;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_searchIn{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font-size: 15px;
    float: left;
    line-height: 40px;
    color: black;
    width: 0px;
    font-size: 18px;
    transition: 0.4s;
}
.cart{
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;    
}
.header_search:hover > .header_searchIn{
    width: 350px;
    padding: 0 6px;
}

/*NAV-C*/
.nav_c{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* padding: 4px 0; */
}
 .nav_c h3{
     margin-top: 5px;
     color:black;
     font-family: 'Poppins', sans-serif;
     font-weight: 300;
     font-size: 15px;
     letter-spacing: 2px;
     text-align: center;
     width:0ch;
     overflow: hidden;
     white-space: nowrap;
     animation: textslide 10s infinite alternate;
 }
 .nav_c a{
     color: #14213D;
 }
 @keyframes textslide {
     0%{
         width: 0ch;
         color: #14213D;
     }50%{
         width:55ch;
         color:#FCA311;
     }
 }